<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.NumericalStatisticsMapper">


    <select id="selMonitoringAnalysis" resultType="com.bonc.jibei.vo.NumericalStatisticsVo">
        SELECT
        t1.*,
        t2.*
        FROM
        (
        SELECT
        <choose>
            <when test = "flag1=='1'.toString()">
                round(sum( radiation_dose )/60000,2) AS radiationDose,
                round(sum( peak_irradiance ),2) AS peakIrradiance,
            </when>
            <when test = "flag1=='2'.toString()">
                round( sum( avg_temp ),2) AS avgTemp,
                round(sum( max_temp ),2) AS maxTemp,
                round( sum( min_temp ),2) AS minTemp,
            </when>
            <when test = "flag1=='3'.toString()">
                round(sum( avg_wind_speed ),2) AS avgWindSpeed,
                round(sum( max_wind_speed ),2) AS maxWindSpeed,
                round(sum( min_wind_speed ),2) AS minWindSpeed,
            </when>
        </choose>
        DATE_FORMAT( `data_time`, "%Y-%m" ) data_time
        FROM
        jb_numerical_statistics jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        WHERE
        DATE_FORMAT( `data_time`, "%Y" )=  #{year}
        GROUP BY  DATE_FORMAT( `data_time`, "%Y-%m" )
        ) t1
        left JOIN (
        SELECT
        <choose>
            <when test = "flag1=='1'.toString()">
                round(sum( radiation_dose )/60000,2) AS radiationDoseTq,
                round(sum( peak_irradiance ),2) AS peakIrradianceTq,
            </when>
            <when test = "flag1=='2'.toString()">
                round( sum( avg_temp ),2) AS avgTempTq,
                round(sum( max_temp ),2) AS maxTempTq,
                round( sum( min_temp ),2) AS minTempTq,
            </when>
            <when test = "flag1=='3'.toString()">
                round(sum( avg_wind_speed ),2) AS avgWindSpeedTq,
                round(sum( max_wind_speed ),2) AS maxWindSpeedTq,
                round(sum( min_wind_speed ),2) AS minWindSpeedTq,
            </when>
        </choose>
        DATE_FORMAT( `data_time`, "%Y-%m" ) data_time_tq
        FROM
        jb_numerical_statistics jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        WHERE
        DATE_FORMAT( `data_time`, "%Y" )= #{year}-1
        GROUP BY
        DATE_FORMAT( `data_time`, "%Y-%m" )
       ) t2 ON SUBSTR( t1.data_time, 6, 7 )= SUBSTR( t2.data_time_tq, 6, 7 )
    </select>
    <select id="selMonitoringAnalysisDq" resultType="com.bonc.jibei.vo.NumericalStatisticsVo">
        SELECT
        <choose>
            <when test = "flag1=='1'.toString()">
                round(sum( radiation_dose )/60000,2) AS radiationDose,
                round(sum( peak_irradiance ),2) AS peakIrradiance,
            </when>
            <when test = "flag1=='2'.toString()">
                round( sum( avg_temp ),2) AS avgTemp,
                round(sum( max_temp ),2) AS maxTemp,
                round( sum( min_temp ),2) AS minTemp,
            </when>
            <when test = "flag1=='3'.toString()">
                round(sum( avg_wind_speed ),2) AS avgWindSpeed,
                round(sum( max_wind_speed ),2) AS maxWindSpeed,
                round(sum( min_wind_speed ),2) AS minWindSpeed,
            </when>
        </choose>
        DATE_FORMAT( `data_time`, "%m" ) data_time,cc.aname
        FROM
        jb_numerical_statistics jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        WHERE
        DATE_FORMAT( `data_time`, "%Y" )=  #{year}
        GROUP BY  DATE_FORMAT( `data_time`, "%m" ),cc.aname
        UNION
        SELECT
        <choose>
            <when test = "flag1=='1'.toString()">
                round(sum( radiation_dose )/60000,2) AS radiationDose,
                round(sum( peak_irradiance ),2) AS peakIrradiance,
            </when>
            <when test = "flag1=='2'.toString()">
                round( sum( avg_temp ),2) AS avgTemp,
                round(sum( max_temp ),2) AS maxTemp,
                round( sum( min_temp ),2) AS minTemp,
            </when>
            <when test = "flag1=='3'.toString()">
                round(sum( avg_wind_speed ),2) AS avgWindSpeed,
                round(sum( max_wind_speed ),2) AS maxWindSpeed,
                round(sum( min_wind_speed ),2) AS minWindSpeed,
            </when>
        </choose>
        DATE_FORMAT( `data_time`, "%m" ) data_time,
        '冀北' as aname
        FROM
        jb_numerical_statistics jb
        WHERE 1=1
        and DATE_FORMAT( `data_time`, "%Y" )=  #{year}
        GROUP BY
        DATE_FORMAT( `data_time`, "%m" )
    </select>

    <select id="selRadiationDoseDistributed" resultType="com.bonc.jibei.vo.RadiationDoseDistributedVo">
            SELECT
        <choose>
            <when test = "flag1=='1'.toString()">
                jb.ghi_value
            </when>
            <when test = "flag1=='2'.toString()">
                jb.temp_value
            </when>
            <when test = "flag1=='3'.toString()">
                jb.spd_value
            </when>
        </choose> as value,
                sum( jb.cnt )  cnt,
                round(sum( jb.cnt ) /( SELECT sum(cnt ) AS cnt FROM jb_distributed_radiation_dose )*100,2) AS rate
        <choose>
        <when test = "flag=='1'.toString()">
            ,cc.aname
        </when>
        </choose>
            FROM
        <choose>
            <when test = "flag1=='1'.toString()">
                jb_distributed_radiation_dose
            </when>
            <when test = "flag1=='2'.toString()">
                jb_distributed_avg_temp
            </when>
            <when test = "flag1=='3'.toString()">
                jb_distributed_wind_speed
            </when>
        </choose>
                 jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id

            GROUP BY
        <choose>
            <when test = "flag1=='1'.toString()">
                jb.ghi_value
            </when>
            <when test = "flag1=='2'.toString()">
                jb.temp_value
            </when>
            <when test = "flag1=='3'.toString()">
                jb.spd_value
            </when>
        </choose>
        <choose>
        <when test = "flag=='1'.toString()">
            ,cc.aname
            UNION
            SELECT
            jb.ghi_value AS value,
            sum( jb.cnt ) cnt,
            "" as rate,
            "冀北" as aname
            FROM
            jb_distributed_radiation_dose jb
            GROUP BY
            <choose>
                <when test = "flag1=='1'.toString()">
                    jb.ghi_value
                </when>
                <when test = "flag1=='2'.toString()">
                    jb.temp_value
                </when>
                <when test = "flag1=='3'.toString()">
                    jb.spd_value
                </when>
            </choose>
        </when>
        </choose>
    </select>

    <select id="selSunHoursTrend" resultType="com.bonc.jibei.vo.SunHoursTrendVo">
        SELECT
        sum(case when jb.value &gt;= 3 and jb.value &lt; 6 then 1 else 0 end) over3,
        sum(case when jb.value  &gt;= 6 then 1 else 0 end) over6,
        cc.aname from  jb_sun_hours_trend jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        GROUP BY aname
    </select>

</mapper>