<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.NumericalStatisticsMapper">


    <select id="selMonitoringAnalysis" resultType="com.bonc.jibei.vo.NumericalStatisticsVo">
        SELECT
            sum( radiation_dose ) AS radiation_dose,
            sum( peak_irradiance ) AS peak_irradiance,
            sum( avg_temp ) AS avgTemp,
            sum( max_temp ) AS maxTemp,
            sum( min_temp ) AS minTemp,
            sum( avg_wind_speed ) AS avgWindSpeed,
            sum( max_wind_speed ) AS maxWindSpeed,
            sum( min_avg_wind_speed ) AS minAvgWindSpeed,
            <choose>
                <when test = "flag=='1'.toString()">
                    cc.aname ,
                </when>
            </choose>
        year_month_date
        FROM
            jb_numerical_statistics jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        GROUP BY
            year_month_date
            <choose>
        <when test = "flag=='1'.toString()">
            ,cc.aname
            UNION
            SELECT
            round(avg( radiation_dose ),0) AS radiation_dose,
            round(avg( peak_irradiance ),0)  AS peak_irradiance,
            year_month_date,
            "冀北" as aname
            FROM
            jb_numerical_statistics
            GROUP BY
            year_month_date
        </when>
    </choose>
    </select>
    <select id="selRadiationDoseDistributed" resultType="com.bonc.jibei.vo.RadiationDoseDistributedVo">
            SELECT
                jb.radiation_value as value,
                sum( jb.radiation_cnt )  cnt,
                round(sum( jb.radiation_cnt ) /( SELECT sum( radiation_cnt ) AS cnt FROM jb_radiation_dose_distributed )*100,2) AS rate
        <choose>
        <when test = "flag=='1'.toString()">
            ,cc.aname
        </when>
        </choose>
            FROM
                jb_radiation_dose_distributed jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
            GROUP BY
                jb.radiation_value
        <choose>
        <when test = "flag=='1'.toString()">
            ,cc.aname
            UNION
            SELECT
            jb.radiation_value AS value,
            sum( jb.radiation_cnt ) cnt,
            "" as rate,
            "冀北" as aname
            FROM
            jb_radiation_dose_distributed jb
            GROUP BY
            jb.radiation_value
        </when>
        </choose>
    </select>

    <select id="selSunHoursTrend" resultType="com.bonc.jibei.vo.SunHoursTrendVo">
        SELECT
        sum(case when jb.value &gt;= 3 and jb.value &lt; 6 then 1 else 0 end) over3,
        sum(case when jb.value  &gt;= 6 then 1 else 0 end) over6,
        cc.aname from  jb_sun_hours_trend jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        GROUP BY aname
    </select>

</mapper>