<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.ReportModelInterMapper">
    <!-- 取模板 -->
    <select id="selectReportModel" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        station.station_id AS stationId,
        station.station_type AS stationType,
        model.id AS modelId,
        model.report_name AS reportName,
        model.model_file_url AS modelFileUrl,
        model.model_version AS modelVersion
        FROM
        jb_station_model_rel rel
        INNER JOIN jb_report_model model ON rel.model_id = model.id and model.status=1
        INNER JOIN jb_station station ON rel.station_id = station.station_id AND station.is_show = 1
        where  not EXISTS (select 1 from jb_report_mng mng where mng.station_id=rel.station_id
        <if test="year != null">
            and  mng.report_year =#{year}
        </if>
        <if test="quarter != null">
            and  mng.report_quarter =#{quarter}
        </if>
        )
    </select>
    <select id="selectReReportModel" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        mng.id,
        station.station_id AS stationId,
        station.station_type AS stationType,
        model.id AS modelId,
        model.report_name AS reportName,
        model.model_file_url AS modelFileUrl,
        model.model_version AS modelVersion
        FROM
        jb_station_model_rel rel
        INNER JOIN jb_report_model model ON rel.model_id = model.id  and model.status=1
        INNER JOIN jb_station station ON rel.station_id = station.station_id AND station.is_show = 1
        INNER JOIN jb_report_mng mng ON mng.station_id = rel.station_id
        <if test="reportStatus != null">
            AND mng.report_status = #{reportStatus}
        </if>
    </select>
    <!-- 取模板接口 -->
    <select id="selectReportModelInter" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        inter.inter_url AS interUrl,
        inter.place_tag AS placeTag,
        inter.pid
        FROM jb_report_interface inter
        INNER JOIN jb_model_interface_rel inter_rel  ON inter.id = inter_rel.inter_id
        where 1=1
        <if test="modelType != null">
            AND inter.inter_type = #{modelType}
        </if>
        <if test="modelId != null">
            AND inter_rel.model_id = #{modelId}
        </if>
    </select>

    <select id="selectReReportModelInter" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        inter.inter_url AS interUrl,
        inter.place_tag AS placeTag,
        inter.pid
        FROM jb_report_interface inter
        INNER JOIN jb_model_interface_rel inter_rel ON inter.id = inter_rel.inter_id
        where  1=1
        <if test="modelType != null">
            AND inter.inter_type = #{modelType}
        </if>
        <if test="modelId != null">
            AND inter_rel.model_id = #{modelId}
        </if>
    </select>
</mapper>